/* Css04_d_font01.html 관련 CSS */
h1#a { font-family: Audiowide, sans-serif; }
/* h1#a { font-family: "Nanum Pen Script", cursive; } */
h1#b { font-family: "Sofia", sans-serif; }
h1#c { font-family: "Trirong", serif; }
.ft { font-family: Copperplate, Papyrus, fantasy; }

@font-face {
	font-family: makeFont; /* 폰트명 선언하기 */
	src: url("../font/YEONGJUSeonbi.otf") format('opentype');
	/* src: url("../font/ARLRDBD.TTF") format('truetype'); */
	/* src: url("../font/H2GTRM.TTF") format('truetype'); */
	/* src: url("../font/HMFMPYUN.TTF") format('truetype'); */
	/* src: url("../font/HMKMAMI.TTF") format('truetype'); */
}
div#ff { font-family: makeFont; font-weight: bolder; }