<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>
<body>
<h1>Ajax Home</h1>
	<form>
		<input type="text" name="keyword" id="keyword" placeholder="제목이나 저자를 입력해주세요.(일부입력 가능)" size="100" />
		<button type="button" id="searchBtn">Search</button>
	</form>
	<form>
		boardNo : <input type="text" name="boardNo" id="boardNo"/><br>
		title : <input type="text" name="title" id="title"/><br>
		content : <textarea name="content" id="content"></textarea><br>
		writer : <input type="text" name="writer" id="writer"/><br>
	</form>
	<div>
		<button id="listBtn">List</button>
		<button id="readBtn">Read</button>
		<button id="registerBtn">Register</button>
		<button id="deleteBtn">Delete</button>
		<button id="modifyBtn">Modify</button>
	</div>
	<div>
		<button onclick="location.href='/boards/list';">목록페이지로 이동</button>
		<button onclick="location.href='/boards/insert';">등록페이지로 이동</button>
		<button id="deptBtn">부서페이지로 이동</button>
	</div>
	<br><br>
	<h3>목록 보기</h3>
	<div id="dataBox"></div>
	<script>
		$(document).ready(function(){
			$('#deptBtn').on('click', function () {
				$.ajax({
					url: "/dept",
					method: "get",
					cache: false,
					async: false,
					success: res => console.log('res: ', res),
					error: err => console.log('err: ' + err)
				});
			});

			$("#listBtn").on("click", function(){
				$.get("/boards", {id : "admin"} ,function(data){
					console.log(data);
					// alert(JSON.stringify(data));
					$("#dataBox").empty();
					if(data!= '') {
						$.each(data,function(i,v){
							$("#dataBox").append("번호: "+v.boardNo+"/ 제목: "+v.title+"/ 저자: "+v.writer+"/ 출판일: "+v.regDate.substr(0,10)+"/ 내용: "+v.content+"<br>");
						});
					}
				});
			});
			
			$("#readBtn").on("click", function(){
				let boardNoVal = $("#boardNo").val();
				$.get("/boards/"+boardNoVal, function(data){
					console.log(data);
					$("#dataBox").empty();
					if(data!= ''){
						$("#dataBox").append("번호: "+data.boardNo+"/ 제목: "+data.title+"/ 저자: "+data.writer+"/ 출판일: "+data.regDate.substr(0,10)+"/ 내용: "+data.content+"<br>");
						$("#boardNo").val(data.boardNo);
						$("#title").val(data.title);
						$("#content").val(data.content);
						$("#writer").val(data.writer);
					}
				});
			});
			
			$("#searchBtn").on("click", function(){
				let keywordVal = $("#keyword").val();
				if(keywordVal==null || keywordVal ==''){
					$("#listBtn").click();
				}else{
					$.get("/boards/search/"+keywordVal, function(data){
						console.log(data);
						$("#dataBox").empty();
						if(data!= '') {
							$.each(data,function(i,v){
								$("#dataBox").append("번호: "+v.boardNo+"/ 제목: "+v.title+"/ 저자: "+v.writer+"/ 출판일: "+v.regDate.substr(0,10)+"/ 내용: "+v.content+"<br>");
							});
						}
					});
				}
			});
			
			$("#registerBtn").on("click", function(){
				let boardObject = {
					boardNo : $("#boardNo").val(),
					title: $("#title").val(),
					content : $("#content").val(),
					writer : $("#writer").val()
				};
				
				$.post({url: "/boards", data: JSON.stringify(boardObject), contentType: "application/json; charset=UTF-8"}).done( function(result){
					if(result=='ok'){
						alert('등록되었습니다.');
						location.reload();
					}
				});
			});
			
			$("#deleteBtn").on("click", function(){
				let boardNo =  $("#boardNo").val();
				$.ajax({
					type : "DELETE",
					url : "/boards/"+boardNo,
					data : JSON.stringify(boardNo),
					contentType : "application/json; charset=UTF-8",
					success : function(result){
						if(result='ok'){
							alert('삭제되었습니다.');
							location.reload();
						}
						else {
							alert('삭제되지 않았습니다.');
						}
					}
				});
			});
			
			
			$("#modifyBtn").on("click", function(){
				let boardObject = {
					boardNo : $("#boardNo").val(),
					title: $("#title").val(),
					content : $("#content").val(),
					writer : $("#writer").val()
				};
				
				$.ajax({
					type : "PUT",
					url : "/boards/modi",
					data : JSON.stringify(boardObject),
					contentType : "application/json; charset=UTF-8",
					success : function(result){
						if(result='ok'){
							alert('수정되었습니다.');
							location.reload();
						}
						else {
							alert('수정되지 않았습니다.');
						}
					}
				});
			});
		});
	</script>
</body>
</html>