<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>
<body>
<h1>Ajax Home</h1>
	<form>
		<input type="text" name="keyword" id="keyword" placeholder="제목이나 저자를 입력해주세요.(일부입력 가능)" size="100" />
		<button type="button" id="searchBtn">Search</button>
	</form><br><br>
	<h3>목록 보기</h3>
	<div id="dataBox">
	<span th:each="board : ${boardList}">
	번호: [[${board.boardNo}]], 제목: [[${board.title}]], 저자: [[${board.writer}]], 출판일:  [[${board.regDate}]]<br>
	</span>
	</div>
<script>
$(document).ready(function(){
	
	$("#searchBtn").on("click", function(){
		let keywordVal = $("#keyword").val();
		$.get("/boards/search/"+keywordVal, function(data){
			console.log(data);
			$("#dataBox").empty();
			if(data!= '') {
				$.each(data,function(i,v){
					$("#dataBox").append("번호: "+v.boardNo+"/ 제목: "+v.title+"/ 저자: "+v.writer+"/ 출판일: "+v.regDate.substr(0,10)+"/ 내용: "+v.content+"<br>");
				});
			}
		});
	});
	
});
</script>
</body>
</html>