# Java-related files
*.class
*.jar
*.war
*.ear
*.log

# Maven-specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle-specific files
.gradle/
build/
!gradle-wrapper.jar
gradle-app.setting
.gradletasknamecache

# IntelliJ IDEA-specific files
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse-specific files
.classpath
.project
.settings/
.metadata
bin/
tmp/

# VSCode-specific files
.vscode/

# Operating System-specific files
.DS_Store
Thumbs.db

# Log files
logs/
*.log

# Spring Boot-specific files
*.jar
*.war
*.ear

# Miscellaneous
*.tmp
*.bak
*.swp
*~.nib
